.block-width-0{ width: 200px; margin: 0 auto; background-color: #cccccc; }
.block-width-1{ width: 50%; margin: 0 auto; background-color: #cccccc; }
.block-height-0{ height: 100px; margin: 0 auto; background-color: #cccccc; }
.block-max-width-0{ max-width: 100px; margin: 0 auto; background-color: #cccccc; }
.block-max-width-1{ max-width: 50%; margin: 0 auto; background-color: #cccccc; }
.block-text-align-right{ text-align: right; }
.block-text-align-center{ text-align: center; }
.block-border-solid-0{ border: 5px solid #cccccc; }
.block-border-solid-1{ border: 5px double #cccccc; }
.block-border-solid-2{ border: 5px dashed #cccccc; }
.block-border-solid-3{ border: 5px dotted #cccccc; }
.block-border-top-0{ border-top: 5px solid #cccccc; }
.block-border-top-1{ border-top: 5px double #cccccc; }
.block-border-top-2{ border-top: 5px dashed #cccccc; }
.block-border-top-3{ border-top: 5px dotted #cccccc; }
.block-border-right-0{ border-right: 5px solid #cccccc; }
.block-border-right-1{ border-right: 5px double #cccccc; }
.block-border-right-2{ border-right: 5px dashed #cccccc; }
.block-border-right-3{ border-right: 5px dotted #cccccc; }
.block-border-bottom-0{ border-bottom: 5px solid #cccccc; }
.block-border-bottom-1{ border-bottom: 5px double #cccccc; }
.block-border-bottom-2{ border-bottom: 5px dashed #cccccc; }
.block-border-bottom-3{ border-bottom: 5px dotted #cccccc; }
.block-border-left-0{ border-left: 5px solid #cccccc; }
.block-border-left-1{ border-left: 5px double #cccccc; }
.block-border-left-2{ border-left: 5px dashed #cccccc; }
.block-border-left-3{ border-left: 5px dotted #cccccc; }
.block-border-radius-0{ border-radius: 20px; border: 5px solid #cccccc; }
.block-border-radius-1{ border-radius: 20px; border: none; background-color: #cccccc }
.block-background-color{ background-color: #ff0000; }
.block-background-image-0{ background: #cccccc url(bg.png); height: 100px; }
.block-background-image-1{ background: #cccccc url(bg.png) no-repeat center center; height: 100px; }
.block-background-image-2{ background: #cccccc url(bg.png) no-repeat left center; height: 100px; }
.block-background-image-3{ background: #cccccc url(bg.png) no-repeat right center; height: 100px; }
.block-background-image-4{ background: #cccccc url(bg.png) no-repeat center top; height: 100px; }
.block-background-image-5{ background: #cccccc url(bg.png) no-repeat center bottom; height: 100px; }
.block-margin{ margin: 1em; background-color: #cccccc; }
.block-padding{ padding: 1em; background-color: #cccccc; }
.block-box-shadow-0{ box-shadow: 10px 10px; border: 1px solid #cccccc; }
.block-box-shadow-1{ box-shadow: 10px 10px 10px rgba(0,0,0,0.4); border: 1px solid #cccccc; }
.block-box-shadow-2{ box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); border: 1px solid #cccccc; }
.block-box-shadow-3{ box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4) inset; border: 1px solid #cccccc; }
.inline-border-solid-0{ border: 5px solid #cccccc; }
.inline-border-solid-1{ border: 5px double #cccccc; }
.inline-border-solid-2{ border: 5px dashed #cccccc; }
.inline-border-solid-3{ border: 5px dotted #cccccc; }
.inline-border-top-0{ border-top: 5px solid #cccccc; }
.inline-border-top-1{ border-top: 5px double #cccccc; }
.inline-border-top-2{ border-top: 5px dashed #cccccc; }
.inline-border-top-3{ border-top: 5px dotted #cccccc; }
.inline-border-right-0{ border-right: 5px solid #cccccc; }
.inline-border-right-1{ border-right: 5px double #cccccc; }
.inline-border-right-2{ border-right: 5px dashed #cccccc; }
.inline-border-right-3{ border-right: 5px dotted #cccccc; }
.inline-border-bottom-0{ border-bottom: 5px solid #cccccc; }
.inline-border-bottom-1{ border-bottom: 5px double #cccccc; }
.inline-border-bottom-2{ border-bottom: 5px dashed #cccccc; }
.inline-border-bottom-3{ border-bottom: 5px dotted #cccccc; }
.inline-border-left-0{ border-left: 5px solid #cccccc; }
.inline-border-left-1{ border-left: 5px double #cccccc; }
.inline-border-left-2{ border-left: 5px dashed #cccccc; }
.inline-border-left-3{ border-left: 5px dotted #cccccc; }
.inline-border-radius-0{ border-radius: 20px; border: 5px solid #cccccc; }
.inline-border-radius-1{ border-radius: 20px; border: none; background-color: #cccccc }
.inline-background-color{ background-color: #ff0000; }
.inline-background-image-0{ background: #cccccc url(bg.png); height: 100px; }
.inline-background-image-1{ background: #cccccc url(bg.png) no-repeat center center; height: 100px; }
.inline-background-image-2{ background: #cccccc url(bg.png) no-repeat left center; height: 100px; }
.inline-background-image-3{ background: #cccccc url(bg.png) no-repeat right center; height: 100px; }
.inline-background-image-4{ background: #cccccc url(bg.png) no-repeat center top; height: 100px; }
.inline-background-image-5{ background: #cccccc url(bg.png) no-repeat center bottom; height: 100px; }
.inline-margin{ margin: 1em; background-color: #cccccc; }
.inline-padding{ padding: 1em; background-color: #cccccc; }
